<mat-toolbar fxLayout fxLayoutAlign="space-between center">
    <h3>Add User</h3>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<mat-dialog-content>
    <form fxLayout="column" [formGroup]="group">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input type="text" matInput formControlName="lastname">
        </mat-form-field>
        <div fxLayout fxLayoutAlign="end" fxLayoutGap="15px">
            <button mat-raised-button color="primary" type="button" (click)="save()">Save</button>
            <button mat-button mat-dialog-close color="primary" type="button">Close </button>
        </div>
    </form>
</mat-dialog-content>